<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>上传文件</title>
</head>
<body>
<div th:include="header::header"></div>
    <div>
        <form th:action="@{/file/uploadStatus}" th:object="${fileDes}"  method="post" enctype="multipart/form-data">
            <div>
                <label for="fileType">文件类型</label>
                <input type="text" th:field="${fileDes.fileType}" id="fileType">
            </div>
            <div>
                <label for="name">文件名称</label>
                <input type="text" th:field="${fileDes.fileName}" id="name">
                <span>(不填则默认为原始名称)</span>
            </div>
            <div>
                <label for="detail">文件介绍</label>
                <input type="text" th:field="${fileDes.detail}" id="detail">
            </div>
            <div>
                <label for="file">选择要上传的文件</label>
                <input type="file" name="file" id="file">
            </div>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">添加</button>
            </div>
        </form>
    </div>
</body>
</html>