<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>工程材料统计</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" th:href="@{/css/fileinput.css}">
</head>
<body>






<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bold-and-bright.js}"></script>
<script th:src="@{/js/fileinput.js}"></script>
<script th:src="@{/js/locales/zh.js}"></script>
</body>
</html>