<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>竣工阶段情况</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>
<body>
    <div th:include="header::header"></div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 th:text="竣工阶段情况"></h2>
            </div>
            <div class="col-6 text-right">
                <a th:href="@{'/project/' + ${projectId}}"> <p th:text="${projectName}" class="h6"></p></a>
            </div>
            <hr class="text-light">
        </div>
        <div class="row">
            <div class="col-4 input-group">
                <span class="date input-group-addon">送审日期</span>
                <span type="date" th:text="${status.songShenDate}" id="date" class="form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="money input-group-addon">送审金额</span>
                <span type="text" th:text="${status.songShenMoney}" id="money" class="form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="done-money input-group-addon">审定金额</span>
                <span  th:text="${status.heDingMoney}" id="done-money" class="form-control"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 input-group ">
                <span class="done-user input-group-addon">审定单</span>
                <span type="text" th:text="${status.shenDingDan}" id="done-user" class="form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="input-group-addon">工序资料</span>
                <span th:text="${status.gongXuZiLiao == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
            <div class="col-4 input-group ">
                <span class="input-group-addon"> 竣工图</span>
                <span th:text="${status.junGongTu == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 input-group">
                <span class="input-group-addon">签证汇总</span>
                <span th:text="${status.qianZhengHuiZong == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="input-group-addon">竣工验收证明</span>
                <span th:text="${status.junGongYanShouZhengMing == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="input-group-addon">工程量汇总</span>
                <span th:text="${status.gongChengLiangHuiZong == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-4 input-group">
                <span class="input-group-addon">施工班组工程量</span>
                <span th:text="${status.gongChengLiang == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="input-group-addon">材料汇总</span>
                <span th:text="${status.caiLiaoHuiZong == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
            <div class="col-4 input-group">
                <span class="input-group-addon">材料汇总</span>
                <span th:text="${status.shiGongJiXieTime == true ? '是' : '否'}"
                      class="boolean-true form-control"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-9"></div>
            <div class="col-3">
                <a th:href="@{'/project_detail/update/over/' + ${status.id}}" class="btn btn-primary btn-block">修改</a>
            </div>
        </div>
    </div>
    <hr class="text-white">
    <div class="container">
        <p class="h3">相关文件</p>
        <hr class="text-white">
        <div class="row">
            <div class="col-6">
            </div>
            <div class="col-6">
                <a th:href="@{'/file/status/fileList/' + ${status.id} + '/1'}" class="btn btn-warning">查看已上传文件</a>
                <a th:href="@{'/file/status/addFile/' + ${projectId} + '/' + ${status.id}}" class="btn btn-warning">添加竣工文件</a>
            </div>
        </div>
    </div>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bold-and-bright.js}"></script>
</body>
</html>