<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>施工情况分析</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link th:href="@{/css/main.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>
<body>
  <div th:include="header::header"></div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h2 th:text="${attr} + '施工情况分析'"></h2>
      </div>
      <div class="col-6 text-right">
        <a th:href="@{'/project/' + ${projectId}}"> <p th:text="${projectName}" class="h6"></p></a>
      </div>
      <hr class="text-light">
    </div>

    <form th:action="@{'/project_detail/addProcess/' + ${projectId}}" method="post" th:object="${status}">
      <div class="row">
        <div class="col-12 input-group">
          <label for="keynote" class="input-group-addon">特殊情况记录：</label>
          <textarea type="text" th:field="${status.special}" id="keynote" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12 input-group">
          <label for="factors" class="input-group-addon">恶&nbsp;&nbsp;&nbsp;劣&nbsp;&nbsp;天&nbsp;&nbsp;气：</label>
          <textarea type="text" th:field="${status.badWeather}" id="factors" class="form-control"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-9 input-group">
          <label for="schedule" class="input-group-addon">签&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;证</label>
          <input  th:field="${status.qianZheng}" id="schedule" class="form-control">
          <span class="input-group-addon">份</span>
        </div>
        <div class="col-3">
          <button class="btn btn-primary btn-block" type="submit">添加</button>
        </div>
      </div>
    </form>
  </div>

<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>
<script th:src="@{/js/bold-and-bright.js}"></script>
</body>
</html>